DATA PREPROCESSING AND FEATURE ENGINEERING IN MACHINE LEARNING

1.Data Exploration and Preprocessing:

Loading the dataset:

In [4]:
import pandas as pd

In [5]:
df=pd.read_csv("C:\\DataScience25\\official_assignments\\EDA2\\EDA2\\adult_with_headers.csv")

In [6]:
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [7]:
df.shape

(32561, 15)

In [8]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income'],
      dtype='object')

Looking for any missing values:

In [10]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

There are no missing values in the dataset.

Finding data type of the features:

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

Summary Statistics:

In [15]:
df.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

Mean age is approximately 38.5 years. The wide range from 17 to 90 suggests the presence of potential outliers in the age column.

Education levels (in numerical form) show a possible presence of outliers, with values ranging from 1 to 16. The mean is around 10.

Capital gain and loss columns are highly skewed. Most values are 0, but a few extremely high values (gain up to 99999, loss up to 4356) cause large spread and indicate clear presence of outliers.

People work on average around 40 hours per week, but the minimum value of 1 and maximum of 99 indicate potential outliers in this column.

Apply scaling techniques to numerical features:

In [18]:
df.select_dtypes('int').columns

Index(['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss',
       'hours_per_week'],
      dtype='object')

In [19]:
from sklearn.preprocessing import StandardScaler

ss=StandardScaler()
scaled_data=ss.fit_transform(df[['age']])
df['age_scaled'] = scaled_data

In [20]:
df=df.drop('age',axis=1)

In [21]:
from sklearn.preprocessing import StandardScaler

ss=StandardScaler()
scaled_data1=ss.fit_transform(df[['fnlwgt']])
df['fnlwgt_scaled'] = scaled_data1

In [22]:
from sklearn.preprocessing import StandardScaler

ss=StandardScaler()
scaled_data2=ss.fit_transform(df[['education_num']])
df['education_num_scaled'] = scaled_data2

In [23]:
df=df.drop('education_num',axis=1)

In [24]:
from sklearn.preprocessing import StandardScaler

ss=StandardScaler()
scaled_data3=ss.fit_transform(df[['capital_gain']])
df['capital_gain_scaled'] = scaled_data3

In [25]:
df=df.drop('capital_gain',axis=1)

In [26]:
from sklearn.preprocessing import StandardScaler

ss=StandardScaler()
scaled_data4=ss.fit_transform(df[['capital_loss']])
df['capital_loss_scaled'] = scaled_data4

In [27]:
df=df.drop('capital_loss',axis=1)

In [28]:
from sklearn.preprocessing import StandardScaler

ss=StandardScaler()
scaled_data5=ss.fit_transform(df[['hours_per_week']])
df['hours_per_week_scaled'] = scaled_data5

In [29]:
df=df.drop('hours_per_week',axis=1)

In [30]:
df

,workclass,fnlwgt,education,marital_status,occupation,relationship,race,sex,native_country,income,age_scaled,fnlwgt_scaled,education_num_scaled,capital_gain_scaled,capital_loss_scaled,hours_per_week_scaled
0,State-gov,77516,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,<=50K,0.030671,-1.063611,1.134739,0.148453,-0.21666,-0.035429
1,Self-emp-not-inc,83311,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K,0.837109,-1.008707,1.134739,-0.145920,-0.21666,-2.222153
2,Private,215646,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K,-0.042642,0.245079,-0.420060,-0.145920,-0.21666,-0.035429
3,Private,234721,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K,1.057047,0.425801,-1.197459,-0.145920,-0.21666,-0.035429
4,Private,338409,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K,-0.775768,1.408176,1.134739,-0.145920,-0.21666,-0.035429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,Private,257302,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,United-States,<=50K,-0.849080,0.639741,0.746039,-0.145920,-0.21666,-0.197409
32557,Private,154374,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,United-States,>50K,0.103983,-0.335433,-0.420060,-0.145920,-0.21666,-0.035429
32558,Private,151910,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,United-States,<=50K,1.423610,-0.358777,-0.420060,-0.145920,-0.21666,-0.035429
32559,Private,201490,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,United-States,<=50K,-1.215643,0.110960,-0.420060,-0.145920,-0.21666,-1.655225
32560,Self-emp-inc,287927,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,>50K,0.983734,0.929893,-0.420060,1.888424,-0.21666,-0.035429

Standard Scaling was used because the dataset contains outliers (e.g., in capital_gain, fnlwgt), and Min-Max Scaling would compress the majority of values near zero. Standard Scaling handles such spread better by using mean and standard deviation, making it more suitable for this dataset.

Discuss the scenarios where each scaling technique is preferred and why.

- Standard Scaling:

Used When:
   - Data is normally distributed or close to normal
   - Algorithms assume data is centered around 0

Why?:
   - Brings data to a common scale with mean = 0 and std = 1
   - Helps in maintaining the shape of the distribution

- Min Max Sacling:

Used When:
   - You need all features in [0, 1] range
   - Dataset doesnâ€™t contain extreme outliers
   - Used in algorithms sensitive to feature scale or neural networks

Why?:
   - Ensures all features contribute equally during model training
   - Neural networks converge faster with values between 0 and 1

2.Encoding Techniques:

In [36]:
df.select_dtypes(include='object').nunique()

workclass          9
education         16
marital_status     7
occupation        15
relationship       6
race               5
sex                2
native_country    42
income             2
dtype: int64

Apply One-Hot Encoding to categorical variables with less than 5 categories.

Will be appyling One Hot Encoding on:
- Race
- Sex
- Income

In [39]:
one_hot_cols = ['sex', 'income', 'race']
df_encoded = pd.get_dummies(df, columns=one_hot_cols, drop_first=True)

In [40]:
df_encoded

,workclass,fnlwgt,education,marital_status,occupation,relationship,native_country,age_scaled,fnlwgt_scaled,education_num_scaled,capital_gain_scaled,capital_loss_scaled,hours_per_week_scaled,sex_ Male,income_ >50K,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White
0,State-gov,77516,Bachelors,Never-married,Adm-clerical,Not-in-family,United-States,0.030671,-1.063611,1.134739,0.148453,-0.21666,-0.035429,True,False,False,False,False,True
1,Self-emp-not-inc,83311,Bachelors,Married-civ-spouse,Exec-managerial,Husband,United-States,0.837109,-1.008707,1.134739,-0.145920,-0.21666,-2.222153,True,False,False,False,False,True
2,Private,215646,HS-grad,Divorced,Handlers-cleaners,Not-in-family,United-States,-0.042642,0.245079,-0.420060,-0.145920,-0.21666,-0.035429,True,False,False,False,False,True
3,Private,234721,11th,Married-civ-spouse,Handlers-cleaners,Husband,United-States,1.057047,0.425801,-1.197459,-0.145920,-0.21666,-0.035429,True,False,False,True,False,False
4,Private,338409,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Cuba,-0.775768,1.408176,1.134739,-0.145920,-0.21666,-0.035429,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,Private,257302,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,United-States,-0.849080,0.639741,0.746039,-0.145920,-0.21666,-0.197409,False,False,False,False,False,True
32557,Private,154374,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,United-States,0.103983,-0.335433,-0.420060,-0.145920,-0.21666,-0.035429,True,True,False,False,False,True
32558,Private,151910,HS-grad,Widowed,Adm-clerical,Unmarried,United-States,1.423610,-0.358777,-0.420060,-0.145920,-0.21666,-0.035429,False,False,False,False,False,True
32559,Private,201490,HS-grad,Never-married,Adm-clerical,Own-child,United-States,-1.215643,0.110960,-0.420060,-0.145920,-0.21666,-1.655225,True,False,False,False,False,True
32560,Self-emp-inc,287927,HS-grad,Married-civ-spouse,Exec-managerial,Wife,United-States,0.983734,0.929893,-0.420060,1.888424,-0.21666,-0.035429,False,True,False,False,False,True

Use Label Encoding for categorical variables with more than 5 categories.

Will be appyling One Hot Encoding on:
- Workclass
- education
- marital_status	
- occupation
- relationship
- native_country

In [43]:
from sklearn.preprocessing import LabelEncoder

label_cols = ['relationship', 'marital_status', 'workclass', 'occupation', 'education', 'native_country']

le = LabelEncoder()
for col in label_cols:
    df_encoded[col] = le.fit_transform(df_encoded[col])

In [44]:
df_encoded

,workclass,fnlwgt,education,marital_status,occupation,relationship,native_country,age_scaled,fnlwgt_scaled,education_num_scaled,capital_gain_scaled,capital_loss_scaled,hours_per_week_scaled,sex_ Male,income_ >50K,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White
0,7,77516,9,4,1,1,39,0.030671,-1.063611,1.134739,0.148453,-0.21666,-0.035429,True,False,False,False,False,True
1,6,83311,9,2,4,0,39,0.837109,-1.008707,1.134739,-0.145920,-0.21666,-2.222153,True,False,False,False,False,True
2,4,215646,11,0,6,1,39,-0.042642,0.245079,-0.420060,-0.145920,-0.21666,-0.035429,True,False,False,False,False,True
3,4,234721,1,2,6,0,39,1.057047,0.425801,-1.197459,-0.145920,-0.21666,-0.035429,True,False,False,True,False,False
4,4,338409,9,2,10,5,5,-0.775768,1.408176,1.134739,-0.145920,-0.21666,-0.035429,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,4,257302,7,2,13,5,39,-0.849080,0.639741,0.746039,-0.145920,-0.21666,-0.197409,False,False,False,False,False,True
32557,4,154374,11,2,7,0,39,0.103983,-0.335433,-0.420060,-0.145920,-0.21666,-0.035429,True,True,False,False,False,True
32558,4,151910,11,6,1,4,39,1.423610,-0.358777,-0.420060,-0.145920,-0.21666,-0.035429,False,False,False,False,False,True
32559,4,201490,11,4,1,3,39,-1.215643,0.110960,-0.420060,-0.145920,-0.21666,-1.655225,True,False,False,False,False,True
32560,5,287927,11,2,4,5,39,0.983734,0.929893,-0.420060,1.888424,-0.21666,-0.035429,False,True,False,False,False,True

Discuss the pros and cons of One-Hot Encoding and Label Encoding.

One-Hot Encoding:

- Pros:
  - Doesnâ€™t assume any order or priority among categories.
  - Works well with algorithms that donâ€™t handle categorical data directly.

- Cons:
  - Creates many columns â†’ leads to high dimensionality.
  - Increases memory usage and training time.

Label Encoding:

- Pros:
  - Very simple and memory efficient.
  - Keeps the data as a single column.
  - Useful when categories have ordinal meaning.

- Cons:
  - Implies ordinal relationship even if not true.
  - Can mislead algorithms like linear regression, KNN, or SVM.

3.Feature Engineering:

Create at least 2 new features that could be beneficial for the model. Explain the rationale behind your choices.

In [52]:
# Step 1: Create new features on original df
df['is_senior'] = df['age_scaled'].apply(lambda x: 1 if x >= 60 else 0)
df['capital_net'] = df['capital_gain_scaled'] - df['capital_loss_scaled']

# Step 2: Add to encoded df
df_encoded['is_senior'] = df['is_senior']
df_encoded['capital_net'] = df['capital_net']

Created 2 new features:

- is_senior:     
Senior citizens (60+) may have different working hours, income status, or capital gains. This feature helps model detect income pattern differences by age group.

- capital_net:
Instead of treating capital_gain and capital_loss separately, capital_net gives a clear net value of capital flow, which simplifies learning for the model.

In [54]:
import numpy as np

df_encoded['capital_gain_log'] = np.log1p(df['capital_gain_scaled'])

Apply a transformation (e.g., log transformation) to at least one skewed numerical feature and justify your choice.

In [56]:
df_encoded

,workclass,fnlwgt,education,marital_status,occupation,relationship,native_country,age_scaled,fnlwgt_scaled,education_num_scaled,...,hours_per_week_scaled,sex_ Male,income_ >50K,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,is_senior,capital_net,capital_gain_log
0,7,77516,9,4,1,1,39,0.030671,-1.063611,1.134739,...,-0.035429,True,False,False,False,False,True,0,0.365112,0.138416
1,6,83311,9,2,4,0,39,0.837109,-1.008707,1.134739,...,-2.222153,True,False,False,False,False,True,0,0.070739,-0.157731
2,4,215646,11,0,6,1,39,-0.042642,0.245079,-0.420060,...,-0.035429,True,False,False,False,False,True,0,0.070739,-0.157731
3,4,234721,1,2,6,0,39,1.057047,0.425801,-1.197459,...,-0.035429,True,False,False,True,False,False,0,0.070739,-0.157731
4,4,338409,9,2,10,5,5,-0.775768,1.408176,1.134739,...,-0.035429,False,False,False,True,False,False,0,0.070739,-0.157731
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,4,257302,7,2,13,5,39,-0.849080,0.639741,0.746039,...,-0.197409,False,False,False,False,False,True,0,0.070739,-0.157731
32557,4,154374,11,2,7,0,39,0.103983,-0.335433,-0.420060,...,-0.035429,True,True,False,False,False,True,0,0.070739,-0.157731
32558,4,151910,11,6,1,4,39,1.423610,-0.358777,-0.420060,...,-0.035429,False,False,False,False,False,True,0,0.070739,-0.157731
32559,4,201490,11,4,1,3,39,-1.215643,0.110960,-0.420060,...,-1.655225,True,False,False,False,False,True,0,0.070739,-0.157731
32560,5,287927,11,2,4,5,39,0.983734,0.929893,-0.420060,...,-0.035429,False,True,False,False,False,True,0,2.105084,1.060711

capital_gain has a mean of 1077 and median is 0 which is indicating that it is highly skewed and the max value is 99999 whcih emans that many people has low gain while few have very large.

So,applying log transformation brings the feature closer to normal distribution.

4.Feature Selection:

Use the Isolation Forest algorithm to identify and remove outliers. Discuss how outliers can affect model performance.

In [60]:
from sklearn.ensemble import IsolationForest

# Use numeric data only for outlier detection
numeric_data = df_encoded.select_dtypes(include=['float64', 'int64'])

# Fit Isolation Forest
iso = IsolationForest(contamination=0.01, random_state=42)  # 1% contamination
outlier_pred = iso.fit_predict(numeric_data)

# Add outlier flag to the dataframe
df_encoded['outlier'] = outlier_pred

# Filter out the outliers
df_cleaned = df_encoded[df_encoded['outlier'] == 1].drop(columns=['outlier'])

How Outliers Affect Model Performance:

- Outliers can shift the decision boundary.
- Affects statistical assumptions in linear models.
- Leads to poor generalization and higher prediction error.
- Outliers distort cluster centers or class boundaries.

Apply the PPS (Predictive Power Score) to find and discuss the relationships between features. Compare its findings with the correlation matrix.

import ppscore as pps

pps_matrix = pps.matrix(df_cleaned)

In [104]:
df_cleaned.corr()

,workclass,fnlwgt,education,marital_status,occupation,relationship,native_country,age_scaled,fnlwgt_scaled,education_num_scaled,...,hours_per_week_scaled,sex_ Male,income_ >50K,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,is_senior,capital_net,capital_gain_log
workclass,1.000000,-0.016847,0.022679,-0.063747,0.253445,-0.090589,-0.008077,0.001674,-0.016847,0.050016,...,0.137945,0.094904,0.048071,0.004756,-0.059303,-0.015202,0.056620,NaN,-0.003085,0.024432
fnlwgt,-0.016847,1.000000,-0.028835,0.028575,0.000692,0.008434,-0.053543,-0.077198,1.000000,-0.044452,...,-0.020153,0.026914,-0.011874,-0.051956,0.118001,0.007063,-0.056546,NaN,0.012565,-0.010342
education,0.022679,-0.028835,1.000000,-0.037641,-0.022195,-0.009525,0.064910,-0.011728,-0.028835,0.358853,...,0.054426,-0.028927,0.077090,0.010229,-0.021357,-0.029619,0.022020,NaN,-0.010379,0.024936
marital_status,-0.063747,0.028575,-0.037641,1.000000,-0.008801,0.185289,-0.023639,-0.267835,0.028575,-0.066828,...,-0.189870,-0.128342,-0.198404,0.017985,0.081062,0.016854,-0.080063,NaN,0.014291,-0.068487
occupation,0.253445,0.000692,-0.022195,-0.008801,1.000000,-0.074833,-0.012370,-0.021642,0.000692,0.107938,...,0.078212,0.079173,0.074016,0.003861,-0.011300,0.001196,0.008156,NaN,-0.009595,0.022209
relationship,-0.090589,0.008434,-0.009525,0.185289,-0.074833,1.000000,-0.004818,-0.263276,0.008434,-0.090345,...,-0.247018,-0.580919,-0.248802,0.011556,0.138168,0.016420,-0.132223,NaN,0.032985,-0.083739
native_country,-0.008077,-0.053543,0.064910,-0.023639,-0.012370,-0.004818,1.000000,-0.001489,-0.053543,0.052014,...,-0.003373,-0.008463,0.016616,-0.212053,-0.003896,-0.106797,0.130704,NaN,0.004661,0.010179
age_scaled,0.001674,-0.077198,-0.011728,-0.267835,-0.021642,-0.263276,-0.001489,1.000000,-0.077198,0.028063,...,0.067749,0.087295,0.225728,-0.010507,-0.018331,-0.034744,0.032078,NaN,-0.014851,0.107934
fnlwgt_scaled,-0.016847,1.000000,-0.028835,0.028575,0.000692,0.008434,-0.053543,-0.077198,1.000000,-0.044452,...,-0.020153,0.026914,-0.011874,-0.051956,0.118001,0.007063,-0.056546,NaN,0.012565,-0.010342
education_num_scaled,0.050016,-0.044452,0.358853,-0.066828,0.107938,-0.090345,0.052014,0.028063,-0.044452,1.000000,...,0.142413,0.007572,0.325157,0.062424,-0.074281,-0.045283,0.050573,NaN,-0.034925,0.134301
capital_gain_scaled,0.027532,-0.010085,0.025769,-0.065017,0.023506,-0.078412,0.010155,0.103299,-0.010085,0.139309,...,0.084949,0.064396,0.311874,-0.001394,-0.029781,-0.013329,0.027754,NaN,0.339963,0.983825
capital_loss_scaled,0.011838,-0.016480,0.019036,-0.035395,0.017499,-0.059413,-0.001792,0.047894,-0.016480,0.080410,...,0.052977,0.046447,0.151820,0.006406,-0.022712,-0.005325,0.020627,NaN,-0.956285,-0.054868
hours_per_week_scaled,0.137945,-0.020153,0.054426,-0.189870,0.078212,-0.247018,-0.003373,0.067749,-0.020153,0.142413,...,1.000000,0.227608,0.223863,-0.004609,-0.052653,-0.008265,0.049079,NaN,-0.025010,0.085071
sex_ Male,0.094904,0.026914,-0.028927,-0.128342,0.079173,-0.580919,-0.008463,0.087295,0.026914,0.007572,...,0.227608,1.000000,0.213687,-0.000894,-0.115412,-0.014196,0.103359,NaN,-0.024880,0.067874
income_ >50K,0.048071,-0.011874,0.077090,-0.198404,0.074016,-0.248802,0.016616,0.225728,-0.011874,0.325157,...,0.223863,0.213687,1.000000,0.010140,-0.088815,-0.032197,0.085023,NaN,-0.051638,0.311262
race_ Asian-Pac-Islander,0.004756,-0.051956,0.010229,0.017985,0.003861,0.011556,-0.212053,-0.010507,-0.051956,0.062424,...,-0.004609,-0.000894,0.010140,1.000000,-0.059182,-0.016650,-0.438975,NaN,-0.006440,-0.002121
race_ Black,-0.059303,0.118001,-0.021357,0.081062,-0.011300,0.138168,-0.003896,-0.018331,0.118001,-0.074281,...,-0.052653,-0.115412,-0.088815,-0.059182,1.000000,-0.029912,-0.788656,NaN,0.012666,-0.031299
race_ Other,-0.015202,0.007063,-0.029619,0.016854,0.001196,0.016420,-0.106797,-0.034744,0.007063,-0.045283,...,-0.008265,-0.014196,-0.032197,-0.016650,-0.029912,1.000000,-0.221871,NaN,0.001111,-0.013400
race_ White,0.056620,-0.056546,0.022020,-0.080063,0.008156,-0.132223,0.130704,0.032078,-0.056546,0.050573,...,0.049079,0.103359,0.085023,-0.438975,-0.788656,-0.221871,1.000000,NaN,-0.011296,0.029784
is_senior,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
capital_net,-0.003085,0.012565,-0.010379,0.014291,-0.009595,0.032985,0.004661,-0.014851,0.012565,-0.034925,...,-0.025010,-0.024880,-0.051638,-0.006440,0.012666,0.001111,-0.011296,NaN,1.000000,0.339735
capital_gain_log,0.024432,-0.010342,0.024936,-0.068487,0.022209,-0.083739,0.010179,0.107934,-0.010342,0.134301,...,0.085071,0.067874,0.311262,-0.002121,-0.031299,-0.013400,0.029784,NaN,0.339735,1.000000

- capital_gain_log and capital_gain_scaled has the highest positive correlation.
- education_num_scaled and income_ >50K also has a positive correlation meaning the one with high education has income greater than 50K.
- capital_gain_log and income_ >50K also has a positive correlation meaning the one with high capital gain has income greater than 50K.

Due to package version conflict i was unable to install the ppscore package so i have just written the code for it which will generate result in compatible environment.